@tailwind base;

@tailwind components;

@tailwind utilities;

/* a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-600 underline;
} */

.site-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "blogs blogs blogs"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-container > Header {
  grid-area: header;
  justify-self: stretch;
  align-self: stretch;
}

.container-box {
  grid-area: blogs;
  width: 100vw;
  justify-self: stretch;
  align-self: stretch;
}

.latestBlogPosts {
  display: grid;
  grid-template-columns: 1fr;
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.markdown-container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-areas:
    "header header header"
    "sidebar1 content sidebar2";
}

.markdown-container > Header {
  grid-area: header;
  justify-self: stretch;
  align-self: stretch;
}

.markdown-content {
  grid-area: content;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 800px) {
  .markdown-container {
    grid-template-columns: 0 1fr 0;
  }
  .markdown-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* a {
  background: linear-gradient(to bottom, #4299e1 0%, #4299e1 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

a:hover {
  background-size: 4px 50px;
  color: white;
} */
