/* Additional vertical padding used by kbd tag. */
:root {
  --text-gray-900: #1a202c;
  --text-gray-600: #718096;
  --bg-gray-200: #edf2f7;
  --bg-gray-100: #f7fafc;
  --border-gray-300: #e2e8f0;
  --border-gray-600: #718096;
  --text-blue-600: #2d78bf;
}

.dark-mode {
  --text-gray-900: #f7fafc;
  --text-gray-600: #cbd5e0;
  --bg-gray-200: #2d3748;
  --bg-gray-100: #1a202c;
  --border-gray-300: #4a5568;
  --border-gray-600: #cbd5e0;
  --text-blue-600: #3ca4e0;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  color: var(--text-gray-900);
  @apply leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a:not(.tag) {
  color: var(--text-blue-600);
  @apply font-semibold;
}

.markdown a:hover:not(.tag) {
  @apply underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  color: var(--text-gray-600);
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown blockquote {
  color: var(--text-gray-600);
  border-color: var(--border-gray-300);
  @apply text-base border-l-4 pl-4 pr-4;
}

.markdown code {
  background-color: var(--bg-gray-200);
  @apply font-mono text-sm inline rounded px-1 py-05;
}

.markdown pre {
  background-color: var(--bg-gray-100);
  overflow: auto;
  @apply rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  /* pl-8 */
  @apply text-base list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  border-color: var(--border-gray-600);
  @apply text-base;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}
